/* .featured-item{
    background-image: url('');
    background-size: 100% 100%;
     
} */
.latest-news::after{

    content: '';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0%,rgba(0,0,0,.6) 100%);
}
.bg-fixed {
  background-size: cover;
  background-attachment: fixed;
}
.latest-news{
  background-image: url('https://img.freepik.com/free-vector/education-pattern-background-doodle-style_53876-115365.jpg?w=826&t=st=1694106460~exp=1694107060~hmac=5edd98da530b1831c6596670f7667fe2959c36e6eccfbb585b29e49d508daf16');

}